!media/**/
/authentication/migrations
/publications/migrations
/likeapp/migrations
*.pyc
*~
__pycache__
venv
.idea
db.sqlite3
dump.json
.DS_Store
test.py
PLAN.txt
cmds.txt
db.json
mytoken.txt
address.txt